@{
    ViewBag.Title = "Home Page";
}

<div id="content100">
    <div id="center">
        <div id="squeeze">
            <div class="right-corner">
                <div class="left-corner">
                    <a id="main-content"></a>
                    <div id="tabs-wrapper" class="clearfix">
                        <h1 class="with-tabs">教室預約系統使用說明</h1>
                    </div>                                                  <div class="clearfix">
                        <div class="region region-content">
                            <div id="block-system-main" class="block block-system clearfix">


                                <div class="content">
                                    注意事項：
                                    <li>NEW!! 自107年6月1日(五)起可提前開始借用7月份白天時段(8:00~17:00)教室。但仍請同學斟酌借用時段，避免同一實驗室佔用過多時段，若確認口試時間後，也請盡快將多餘時段取消釋出。
                                    <li>1. 因近期教室被外系學生不當利用而影響系館師生晚間安寧，為加強管理教室借用狀況，自104.5.1起晚上17:00後時段採行「紙本」申請借用，『2樓與3樓』空間都暫停線上預借，<a href="http://www.csie.ncu.edu.tw/file/e8de50df9e34a0e11039dc242ef211cd">申請表</a>需由導師或指導教授簽名後再送至系辦申請，請各位同學配合，謝謝。

                                    <li>2. 為維持教室使用效率，目前僅開放每月1日起可預借當月教室，無法先行預約下個月教室使用。</li>

                                    <li>3. 平日晚間時段(17:00後)借用2樓教室者，系辦會先行開門；借用3樓教室者，請先至系辦拿鑰匙開門。</li>

                                    <li>4. 借用非上班日(包含星期六、日及國定假日)時段的教室，請事先填寫「資工系非上班日教室借用申請表」，並將紙本申請表送交系辦(系學會活動需經系代簽核)，待系主任核准後才能借用。--<a href="http://www.csie.ncu.edu.tw/file/e8de50df9e34a0e11039dc242ef211cd">申請表下載</a></li>

                                    借用流程：
                                    <li>1. 本系同學請以帳號(學號)、密碼登入。</li>

                                    <li><b style="color:red">2. 若忘記資工系帳號密碼，可至<a href="https://portal.csie.ncu.edu.tw/change-psw/">這裡</a>修改密碼</b></li>

                                    <li>3. 進入系統後，先點選左側「教室列表」中欲預約的教室，畫面將顯示該教室當週使用情形。</li>

                                    <li>4. 再點選上方「預約教室」，填寫完整預借資料後送出。</li>

                                    <li>5. 回到「教室列表」確認該教室預約時段已紀錄，即完成預借。</li>

                                    <li>6. 非本系師生欲借用者，請先電洽系辦林小姐(分機35200)詢問。</li>
                                    <hr>
                                    系統維護問題請洽網管小組(分機35322、e-mail: SNMG@csie.ncu.edu.tw)，教室借用問題請洽系辦林小姐(分機35200、e-mail: lyy@csie.ncu.edu.tw)

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /.left-corner, /.right-corner, /#squeeze, /#center -->
</div>