  #leftCol {
    position: fixed;
    width: 200px;
    background-color: #DDD; 
    font-size: 15px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    margin-top: 10px;
    margin-left: 5px;
}
  /*任何要放到屏幕中間顯示*/
#content100 {
    position: relative;            
    margin-left: 210px;
}

#h2ListOfRoom {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}